<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<string>/Users/lifeng/Documents/192.168.1.113/code/实创/ShiXiaoChuang/</string>
	<key>plist_path</key>
	<string>/Users/lifeng/Documents/192.168.1.113/code/实创/ShiXiaoChuang/Designer/ShiXiaoChuang-Info.plist</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
