<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainCasesLable</key>
	<string>blackColor</string>
	<key>phoneLabel</key>
	<string>blackColor</string>
	<key>emailLabel</key>
	<string>blackColor</string>
	<key>cellLabel</key>
	<string>grayColor</string>
	<key>nameLabel</key>
	<string>blackColor</string>
	<key>zhiweiLabel</key>
	<string>blackColor</string>
</dict>
</plist>
